<div class="text-center">
  <h1>Our team of 3 members</h1>
  <ul class="list-inline">
    <li>
      <h2>Paul</h2>
      <img src="http://placehold.it/100" alt="">
    </li>
    <li>
      <h2>George</h2>
      <img src="http://placehold.it/100" alt="">
    </li>
    <li>
      <h2>Ringo</h2>
      <img src="http://placehold.it/100" alt="">
    </li>
  </ul>
</div>
